<!DOCTYPE html>
<html lang="en">
  <%- include('templates/head', {title: 'Todo en Medellín '}) %>
  <body>
    <%- include('templates/header'); %>
    <div class="mainSlider">
      <div class="wrapper">
        <img class="imgSlider fade" src="/images/slider/background2.jpeg" /><img
          class="imgSlider fade"
          src="/images/slider/background.png"
        /><img class="imgSlider fade" src="/images/slider/background.jpg" /><img
          class="imgSlider fade"
          src="/images/slider/background3.jpg"
        /><img
          class="imgSlider fade"
          src="/images/slider/background2.jpeg"
        /><img class="imgSlider fade" src="/images/slider/background6.jpg" />
        <div class="wrapper-dots-text">
          <div class="textSlider">
            <h2>Miles de lugares para visitar y disfrutar</h2>
            <p>
              Medellín es el lugar para compartir, soñar y disfrutar los
              momentos mas increibles de tu vida.
            </p>
          </div>
          <div class="dots"></div>
        </div>
        <span class="next-prev left" onclick='changeSlider(-1, "next")'><</span>
        <span class="next-prev right" onclick='changeSlider(1, "next")'
          >>
        </span>
      </div>
    </div>
	<%- include('templates/menuTipos')%>
    <div class="mainInfo">
      <div class="container" style="padding: 0">
        <div class="titleElement">
          <h2>Cientos de lugares para que disfrutes cada día</h2>
        </div>
        <%- include('templates/cardEstablecimiento', {ubicacion: false}) %>
      </div>
      <div class="titleElement">
        <h2>Encuentra los lugares mas cerca o lejos de tu casa.</h2>
      </div>
      <%- include('templates/map', {className: false})%>
    </div>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/map.js"></script>
    <script src="/javascripts/theme.js"></script>
    <script src="/javascripts/showHide.js"></script>
  </body>
</html>
