extends ../layout

block content
    br
    br
    br
    br
    a(href='/comercios') volver
    h1 Actalizar

    form(action=`/comercios/${comercio.id}/update` method='post')
        input#id(type='text' name="id" value=comercio.id )
        input#nombre(type='text' name="nombre" value=comercio.nombre)
        input#tipo(type='text' name="tipo" value=comercio.tipo )
        input#descripcion(type='text' name="descripcion" value=comercio.descripcion )
        input#lat(type='text' name="lat" value=comercio.ubicacion[0] )
        input#lng(type='text' name="lng" value=comercio.ubicacion[1] )
        button(type='submit'  ) Actualizar 

