<!DOCTYPE html>
<html lang="en">
	<%- include('../templates/head', {title: 'Establecimientos'})%>
	<body>
		<%- include('../templates/header'); %>
		<div class="container">
			<% establecimientos.forEach(function(establecimiento){ %>
			<div class="cardComercio">
				<div class="img">
					<img src="/images/slider/background.jpg" alt="" />
				</div>
				<div class="info">
					<h1 class="comercioId"><%= establecimiento.nombre%></h1>
					<p><%= establecimiento.tipo %></p>
					<p><%= establecimiento.descripcion %></p>
					<a href="establecimientos/<%= establecimiento.nameURL%>">
						Ver detalle
					</a>
					<button onclick="showInMap(<%= establecimiento.ubicacion[0] %>, <%= establecimiento.ubicacion[1] %>)">
						Ver en el mapa
					</button>
				</div>
			</div>
			<% }); %>
			<%- include('../templates/map', {className: true})%>
		</div>
	<script src="/javascripts/map.js"></script>
  </body>
</html>
