<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/head', {title: 'Establecimientos'})%>
  <body>
    <div class="container">
      <%- include('../templates/header') %> 
	  <%- include('../templates/menuTipos')%>
      <%- include('../templates/cardEstablecimiento', {ubicacion: true}) %> <%-
      include('../templates/map', {className: true}) %>
    </div>
    <script src="/javascripts/map.js"></script>
    <script src="/javascripts/theme.js"></script>
    <script src="/javascripts/showHide.js"></script>
  </body>
</html>
