extends ../layout

block content
    br
    br
    br
    br
    a(href='/admin/establecimientos') volver
    h1 Actalizar

    form(action=`/admin/establecimientos/${establecimiento.id}/update` method='post')
        input#id(type='text' name="id" value=establecimiento.id )
        input#nombre(type='text' name="nombre" value=establecimiento.nombre)
        input#tipo(type='text' name="tipo" value=establecimiento.tipo )
        input#descripcion(type='text' name="descripcion" value=establecimiento.descripcion )
        input#lat(type='text' name="lat" value=establecimiento.ubicacion[0] )
        input#lng(type='text' name="lng" value=establecimiento.ubicacion[1] )
        button(type='submit'  ) Actualizar 

